.button
  display: inline-block
  position: relative
  height: $inputHeight
  line-height: $inputHeight
  padding: 0 $spacing
  margin: 0 0 $spacing
  border: none
  border-radius: $borderRadius
  cursor: pointer
  font-weight: 500
  color: #fff
  background: $callToActionColor
  outline: none
  white-space: nowrap
  user-select: none
  transition: background 150ms

  &:hover
    background: lighten($callToActionColor, 5)

  &:active
    background: darken($callToActionColor, 5)

  &:focus
    box-shadow: 0 0 20px 1px rgba($callToActionColor, 0.5)
