.button
  --button-height: var(--input-height)
  --button-line-height-adjustment: 0px
  display: inline-block
  width: auto
  position: relative
  height: var(--button-height)
  padding: 0 var(--spacing-double)
  margin: 0 0 var(--spacing)
  border: none
  border-radius: 100rem
  cursor: pointer
  font-size: var(--font-size-body-1)
  line-height: calc(var(--button-height) + var(--button-line-height-adjustment))
  font-weight: 700
  white-space: nowrap
  text-align: center
  color: var(--color-text-1)
  background: var(--color-brand-primary)
  user-select: none
  transition: all 150ms
  flex-shrink: 0

  .icon
    margin-right: var(--spacing-half)

  &:focus
    box-shadow: var(--focus-glow)

  &:hover,
  &:active
    box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.2)

  &[disabled]
    text-decoration: line-through
    background-color: var(--color-surface-3) !important
    color: var(--color-text-4) !important
    pointer-events: none !important
    border: none !important
    cursor: default

.button--secondary
  background: var(--color-surface-4)

.button--transparent
  color: currentColor !important
  background: rgba(0, 0, 0, 0.2)

  &:hover,
  &:active,
  &:focus
    box-shadow: none
    background: rgba(0, 0, 0, 0.3)

.button--border
  color: var(--color-text-1)
  border: 2px solid var(--color-surface-4)
  background: none
  --button-line-height-adjustment: -4px

  &:hover,
  &:active
    box-shadow: none
    background: var(--color-surface-4)

  &:focus
    box-shadow: none
    border-color: var(--color-brand-primary)
  
.button--small
  --button-height: var(--input-height-small)
  padding: 0 var(--spacing)
  font-size: var(--font-size-body-2)
  
.button--expand
  display: block
  width: 100%

.button--loading
  color: rgba(0, 0, 0, 0) !important
  pointer-events: none
  -webkit-appearance: none !important

  .icon
    color: rgba(0, 0, 0, 0) !important

  &:before
    @include loader(1rem)
    position: absolute
    top: 50%
    left: 0
    right: 0
    margin: -0.5rem auto 0
    border-color: transparent var(--button-text-color) var(--button-text-color)

.button--icon-end
  .icon
    margin-right: 0
    margin-left: var(--spacing-half)