.input-error {
  color: var(--color-text-1);
  display: none;
  font-size: var(--font-size-body-2);
  padding-top: var(--spacing-half);
  text-align: left;

  .form--submitted & {
    display: block;
  }

  .checkbox-input & {
    margin-bottom: var(--spacing-half);
  }

  &::before {
    @include icon('\f06a');
    color: var(--color-danger);
    display: inline-block;
    margin-right: var(--spacing-half);
  }
}
