.loader
  content: ''
  display: block
  width: 2rem
  height: 2rem
  margin: 0 auto var(--spacing)
  border-radius: 100%
  border: 3px solid
  border-color: transparent currentColor currentColor
  animation: rotate 500ms infinite linear
  z-index: 50