global-reset()



*,
*:before,
*:after
  box-sizing: border-box
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  -webkit-text-size-adjust: 100%
  prefix(tap-highlight-color, rgba(0,0,0,0.5))



html
  font-size: 20px
  line-height: 1.4em

body
  font-family: $fontFamilyPrimary
  font-weight: 400
  color: $textColor
  background: $backgroundColor

h1
  font-size: 1.8rem
  line-height: 1.2em
  font-weight: 300
  margin-bottom: $spacing

h2
  font-size: 1.6rem
  line-height: 1.2em
  font-weight: 700
  margin-bottom: $spacing

h3
  font-size: 1.4rem
  line-height: 1.4em
  font-weight: 700
  margin-bottom: $spacing

p
  font-size: 1rem
  line-height: 1.4em
  margin-bottom: $spacing
  color: $textColorLight

a
  text-decoration: none

hr
  border: none
  border-top: 1px solid $borderColor
  margin: ($spacing * 2) 0

input,
select,
textarea,
button
  font-family: $fontFamilyPrimary
  color: $textColor
  font-size: 1rem

::-webkit-input-placeholder
  font-style: italic
  color: rgba(#000, 0.5)
  opacity: 1
  font-size: 0.8rem
  line-height: 1.2rem

:-ms-input-placeholder
  font-style: italic
  color: rgba(#000, 0.5)
  opacity: 1
  font-size: 0.8rem

::-moz-placeholder
  font-style: italic
  color: rgba(#000, 0.5)
  opacity: 1
  font-size: 0.8rem

:-moz-placeholder
  font-style: italic
  color: rgba(#000, 0.5)
  opacity: 1
  font-size: 0.8rem




@media (max-width: 800px)
  html
    font-size: 16px
    line-height: 1.4em



@media (max-width: 500px)
  hr
    margin: $spacing 0
