.DS_Store
node_modules
dist
.env

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

# E2E testing

e2e/downloads
e2e/screenshots
e2e/videos