clearfix()
  zoom: 1

  &:before
    content: ""
    display: table

  &:after
    content: ""
    clear: both
    display: block



prefix($property, $value)
  -webkit-{$property}: $value
  -moz-{$property}: $value
  -ms-{$property}: $value
  -o-{$property}: $value
  {$property}: $value
