// Colors:

$backgroundColor = #fff
$borderColor = #c8c6d8
$callToActionColor = #3fc81a
$errorColor = #f00
$primaryColor = #1c48f4
$textColor = #121213
$textColorLight = #64646b



// Typography:

$fontFamilyPrimary = 'Helvetica Neue', 'Helvetica', sans-serif



// Spacing:

$spacing = 1rem
$inputHeight = 3rem



// Miscellaneous:

$borderRadius = 8px
$focusGlow = 0 0 12px rgba(#000, 0.2)
