// Breakpoints:
  
$desktop-breakpoint: 900px
$tablet-breakpoint: 600px
$mobile-breakpoint: 450px
  
\:root

  // Colors:

  --color-brand-primary-rgb: 28, 125, 244
  --color-brand-primary: rgb(var(--color-brand-primary-rgb))
  --color-brand-secondary-rgb: 255, 85, 54
  --color-brand-secondary: rgb(var(--color-brand-secondary-rgb))
  --color-background-primary: #17181c
  --color-background-secondary: #080809
  --color-0-contrast: #17181c
  --color-5-contrast: #23252b
  --color-10-contrast: #3f414a
  --color-25-contrast: #505050
  --color-50-contrast: #7b7b7b
  --color-75-contrast: #a8a8a8
  --color-100-contrast: #fff
  --color-danger: #F44040
  --color-success: #4AC074

  // Fonts:

  --font-family-primary: 'Open Sans', 'Roboto', 'Helvetica Neue', 'Helvetica', sans-serif
  --font-size-heading-1: 2.75rem
  --font-size-heading-2: 1.875rem
  --font-size-heading-3: 1.375rem
  --font-size-heading-4: 1.25rem
  --font-size-heading-5: 1.125rem
  --font-size-heading-6: 1rem
  --font-size-body-1: 1rem
  --font-size-body-2: 0.875rem
  --font-size-body-3: 0.75rem
  
  --font-size-text-input: 16px
  /* NOTE: Input font size should never go below 16px to avoid iOS Safari auto-zoom */

  // Other:
    
  --border-radius: 6px
  --focus-glow: 0 0 14px 2px rgba(255, 255, 255, 0.1)
  --input-height-large: 3.125rem
  --input-height: 2.75rem
  --input-height-small: 1.875rem
  --max-container-width: 1200px
  --spacing: 1rem
  --spacing-double: 2rem
  --spacing-half: 0.5rem