.bubble
  margin: 0 0 var(--spacing)
  padding: var(--spacing) var(--spacing) 0
  color: var(--color-text-2)
  overflow: hidden
  background: var(--color-surface-1)
  border-radius: var(--border-radius)

  &.layout--icon
    padding-bottom: var(--spacing)

    .icon
      margin-right: var(--spacing)

  p
    color: currentColor