.radio-input
  margin: 0 0 $spacing



.radio-input__options
  display: flex



.radio-input__option
  display: inline-block
  flex-grow: 1



.radio-input__input
  opacity: 0
  width: 0
  height: 0
  position: absolute



.radio-input__label
  display: block
  position: relative
  height: $inputHeight
  line-height: $inputHeight
  padding: 0 ($spacing * 0.75)
  color: $textColor
  background: $borderColor
  border: 1px solid $borderColor
  border-right: none
  cursor: pointer
  font-weight: 500
  text-align: center
  transition: background 150ms

  &:hover
    background: darken($borderColor, 5)

  &:active
    background: darken($borderColor, 10)

  .radio-input__option:first-child &
    border-radius: $borderRadius 0 0 $borderRadius

  .radio-input__option:last-child &
    border-radius: 0 $borderRadius $borderRadius 0
    border-right: 1px solid $borderColor

  .radio-input__input:focus + &
    box-shadow: $focusGlow
    z-index: 5

  .radio-input__input:checked + &
    background: #fff

  .form--submit-attempted .radio-input__input.invalid + &,
  .radio-input__input.dirty.invalid + &
    border-color: $errorColor !important

