.text-input {
  --color-input-border: var(--color-surface-4);
  --color-input-background: var(--color-surface-3);
  --color-input-text: var(--color-text-1);
  margin: 0 0 var(--spacing);
  position: relative;
  text-align: left;
}

.text-input--error {
  .form--submitted & {
    .text-input__label {
      color: var(--color-danger);
    }
  }
}

.text-input__input {
  appearance: none;
  background: var(--color-input-background);
  border: 2px solid var(--color-input-border);
  border-radius: var(--border-radius);
  box-shadow: none;
  color: var(--color-input-text);
  cursor: text;
  display: block;
  font-size: var(--font-size-text-input);
  height: var(--input-height-large);
  letter-spacing: 1px;
  margin: 0;
  outline: none;
  padding: 1.1rem 0.75rem 0;
  position: relative;
  transition: all 150ms;
  width: 100%;
  z-index: 10;

  &::placeholder {
    color: var(--color-text-2);
    font-size: 0.8rem;
    opacity: 0;
    transition: 200ms;
  }

  &:hover {
    --color-input-background: var(--color-surface-4);
  }

  &:focus {
    --color-input-background: var(--color-surface-4);
    box-shadow: var(--focus-glow);

    &::placeholder {
      opacity: 1;
    }
  }

  .text-input--has-icon & {
    padding-left: var(--input-height-large);
  }

  .text-input--search & {
    border-radius: 100rem;
  }

  .text-input--no-label & {
    padding-top: 0;

    &::placeholder {
      font-size: var(--font-size-text-input);
      opacity: 1;
    }
  }
}

.text-input__label {
  bottom: 0;
  color: var(--color-text-2);
  cursor: text;
  display: inline-block;
  font-size: var(--font-size-body-1);
  font-weight: 400;
  left: 0;
  line-height: var(--input-height-large);
  padding: 0 1rem;
  pointer-events: none;
  position: absolute;
  top: 0;
  transition: transform 200ms, font-size 200ms;
  user-select: none;
  white-space: nowrap;
  z-index: 15;

  .text-input--has-content &,
  .text-input__input:focus + & {
    font-size: 0.8rem;
    transform: translateY(-0.6rem) translateX(-0.2rem);
  }

  .text-input--has-icon.text-input--has-content &,
  .text-input--has-icon .text-input__input:focus + & {
    transform: translateY(-0.7rem) translateX(0.05rem);
  }

  .text-input--has-icon & {
    padding-left: var(--input-height-large);
  }

  .text-input--has-content .text-input__input[aria-invalid=false] + & {
    &::before {
      @include icon('\f00c');
      animation: growIn 250ms;
      bottom: 0;
      color: var(--color-success);
      font-size: 0.625rem;
      line-height: var(--input-height-large);

      position: absolute;
      right: 0;
      top: 0;
    }
  }

  .text-input--no-label & {
    display: none !important;
  }
}

.text-input__icon {
  display: none;
  height: var(--input-height-large);
  left: 1px;
  pointer-events: none;
  position: absolute;
  top: 1px;
  width: var(--input-height-large);
  z-index: 15;

  .text-input--has-icon & {
    display: block;
  }

  .icon {
    color: var(--color-text-4);
    display: block;
    font-size: 1.2rem;
    line-height: var(--input-height-large);
    text-align: center;
    top: 0;
    transition: all 150ms;
    width: 100%;
  }

  .text-input__input:hover ~ &,
  .text-input__input:focus ~ & {
    .icon {
      color: var(--color-text-3);
    }
  }
}
