flex-version = flex
support-for-ie = false
vendor-prefixes = official

@import '~nib/lib/nib/index'

@import 'globals/variables'
@import 'globals/functions'
@import 'globals/animations'
@import 'globals/defaults'

@import 'atoms/*'
@import 'molecules/*'
